﻿@{
    var completedCount = ViewData["CompletedCount"];
    var awaitingAcceptanceCount = ViewData["AwaitingAcceptanceCount"];
}

<div>
    <canvas id="applicationsChart" width="400" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var completedCount = Math.floor(@completedCount);
    var awaitingAcceptanceCount = Math.floor(@awaitingAcceptanceCount);

    var ctx = document.getElementById('applicationsChart').getContext('2d');
    var applicationsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Completed', 'Awaiting Acceptance'],
            datasets: [{
                label: 'Applications',
                data: [completedCount, awaitingAcceptanceCount],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
