﻿@model IEnumerable<WebApplication1.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Person</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.PersonName)</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SurnameSortParm"]">@Html.DisplayNameFor(model => model.PersonSurname)</a>
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PersonSex)
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateOfBirthSortParm"]">@Html.DisplayNameFor(model => model.PersonDateOfBirth)</a>
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PersonNationality)
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RNKNumberSortParm"]">@Html.DisplayNameFor(model => model.RNKNumber)</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PersonPassportIdSortParm"]">@Html.DisplayNameFor(model => model.PersonPassportId)</a>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonSurname)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonSex)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonDateOfBirth)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonNationality)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.RNKNumber)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PersonPassportId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PersonId" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PersonId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_PagingPartial", Model)