﻿@model IEnumerable<WebApplication1.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<h1>Emploees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeesId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.EmployeesId" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeesId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("_PagingPartial", Model)
